[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
cachecontrol = "==0.12.5"
flask = "==1.0.2"
gunicorn = "==19.9.0"
python-dateutil = "==2.7.3"
requests = "==2.19.1"
requests-oauthlib = "*"
apiai = "*"
pytest = "*"

[requires]
python_version = "3.6.6"
