[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
cachecontrol = "==0.12.5"
flask = "==1.0.2"
gunicorn = "==19.9.0"
python-dateutil = "==2.7.3"
requests = "==2.20.0"
requests-oauthlib = "==1.0.0"
apiai = "==1.2.3"
pytest = "==3.7.4"

[requires]
python_version = "3.6.6"
